# Exclude entire .idea folder
.idea/

# Exclude entire yay-bin folder
yay-bin/

# Other common ignores
cmake-build-*/
out/
*.iws
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
