* {
    margin: 0;
    padding: 0;
    font-family: "GeistMono Nerd Font";
    font-size: 12px;
    font-weight: 800;
    transition-property: background;
    transition-duration: 0.5s;
}

#waybar.top {
    background: none;
    color: #f2f2f2;
}
#waybar.top > box.horizontal {
    background: rgba(0, 0, 0, 0.5);
    padding: 2px;
}

#waybar.bottom {
    background: none;
}
#waybar.bottom box.modules-center {
    background: #222222;
    margin-top: 5px;
    padding: 0 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 3px #181825;
}

tooltip {
    background: rgba(18, 18, 18, 0.8);
    color: #f2f2f2;
    border-radius: 5px;
}

#workspaces {
    margin-left: 4px;
}

#workspaces button {
  color: #353536;
}

#workspaces button.visible,
#workspaces button.active {
  color: #ffffff;
}


#workspaces button:not(:first-child) {
    margin-left: 2px;
}

#workspaces button:hover,
#workspaces button:focus {
    background: none;
    border-color: transparent;
    box-shadow: none;
}

/* #workspaces button:hover:not(.active):not(.visible), */
/* #workspaces button:focus:not(.active):not(.visible) { */
/*   color: #9399b2; */
/* } */

#mpris {
    background: #222222;
    color: #a6e3a1;
    border-radius: 999px;
    margin-left: 12px;
    padding: 0 12px;
}

#window {
    margin-left: 15px;
    margin-right: 20px;
}

#memory {
	color: #353536;
    margin-right: 12px;
}

#clock {
    margin-right: 8px;
    margin-left: 8px;
}

#cpu {
	color: #353536;
    margin-right: 12px;
}

#tray {
    margin-left: 8px;
    margin-right: 8px;
}
#tray menu {
    background: #222222;
    padding: 2px;
}
#tray menu * {
    margin: 2px;
}
#tray menu check {
    margin-right: 4px;
}

#language {
    margin-right: 16px;
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #cdd6f4;
    }
}

#pulseaudio {
	color: #353536;
    margin-right: 12px;
}

#custom-vpn {
	color: #ffffff;
    margin-right: 10px;
}

#custom-temperature {
	color: #353536;
    margin-right: 10px;
}

#custom-bluetooth {
	color: #ffffff;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
}

#custom-color-picker {
	color: #ffffff;
    margin-left: 6px;
    margin-right: 6px;
}

#custom-swaync {
	color: #ffffff;
    margin-left: 8px;
    margin-right: 6px;
}

#custom-power {
	color: #ffffff;
    margin-left: 6px;
    margin-right: 11px;
}
