* {
    min-height: 0;
    font-family: "GeistMono Nerd Font";
}

window#waybar {
    margin: 0;
    padding: 0;

    font-size: 12px;
    font-weight: 600;
}

#waybar.top {
    background: none;
    color: #f2f2f2;
}
#waybar.top > box.horizontal {
    background: rgba(0, 0, 0, 0.5);
    padding: 2px;
}

#waybar.bottom {
    background: none;
}
#waybar.bottom box.modules-center {
    background: #222222;
    margin-top: 5px;
    padding: 0 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 3px #181825;
}

.modules-left,
.modules-right {
    padding-left: 9px;
    padding-right: 9px;
}

#workspaces {
    font-size: 10px;
    padding: 0.1em 0.6em;
    border-radius: 10px;
    margin: 2px 3px 2px 0;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#workspaces button {
    font-size: 10px;
    color: #353536;
    padding: 0 3px 0 0;
    margin: 0;
}

#workspaces button.visible,
#workspaces button.active {
    color: #f2f2f2;
}

#workspaces button:hover,
#workspaces button:focus {
    background: none;
    border-color: transparent;
    box-shadow: none;
}

#taskbar {
    margin-left: 6px;
}

#taskbar button {
    opacity: 0;
    font-size: 0;
    margin: 0.3em -20px 0.3em 0;
    padding: 0;
}

#taskbar button.active {
    font-weight: bold;
    font-size: 12px;
    margin: 0.3em 0.2em 0.3em 0;
    padding: 1px 0.4em;
    opacity: 1;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
}

#taskbar button.active:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

tooltip {
    background: rgba(18, 18, 18, 0.8);
    color: #f2f2f2;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}

#window {
    font-style: italic;
    font-size: 10px;
    margin: 0 0.4em;
}

#mpris {
    font-size: 10px;
    padding: 0.1em 0.6em;
    border-radius: 10px;
    margin: 2px 12px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#tray {
    margin-left: 8px;
    margin-right: 8px;
}
#tray menu {
    padding: 2px;
}
#tray menu * {
    margin: 2px;
}
#tray menu check {
    margin-right: 4px;
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #cdd6f4;
    }
}

#language,
#custom-color-picker,
#pulseaudio,
#clock,
#cpu,
#custom-swaync,
#custom-power,
#network {
    color: #ffffff;
    margin-left: 6px;
    margin-right: 8px;
}

#pulseaudio,
#cpu,
#bluetooth,
#network {
    font-size: 15px;
}

#bluetooth {
    font-size: 14px;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}

#custom-expand-icon {
    color: #ffffff;
    margin-left: 4px;
    margin-right: 0;
}

#custom-vpn {
    font-size: 12px;
    color: #ffffff;
    margin-left: 8px;
    margin-right: 9px;
    padding-bottom: 1px;
}

#custom-color-picker {
    font-size: 12px;
}

#custom-power {
    margin-right: 11px;
}
