* {
  color: #c8c8c8;

  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font";
  transition: 200ms;
}

/* Avoid 'annoying' backgroud */
.blank-window {
  background: transparent;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: alpha(#141414, 0.55);
  border-radius: 24px;
  border: 1px solid #616161;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  margin: 18px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center
  .notification-row
  .notification-background
  .notification.critical {
  background-color: rgba(20, 20, 20, 0.4);
  border-radius: 16px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  color: #242424;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  background: alpha(#616161, 0.6);
  color: #c8c8c8;
  border-radius: 12px;
  margin: 6px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background: #616161;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #616161;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: #c8c8c8;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #616161;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #616161;
}

progressbar,
progress,
trough {
  border-radius: 12px;
}

progressbar {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;
}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: #c8c8c8;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: #c8c8c8;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: #c8c8c8;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: rgba(97, 97, 97, 0.4);
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: rgba(20, 20, 20, 0.4);
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: rgba(97, 97, 97, 0.4);
}

.widget-title button:active {
  background-color: #616161;
}

/* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: rgba(20, 20, 20, 0.4);
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: rgba(97, 97, 97, 0.4);
}

.widget-dnd > switch:checked {
  background: #616161;
}

.widget-dnd > switch:checked:hover {
  background: rgba(97, 97, 97, 0.4);
}

.widget-dnd > switch slider {
  background: #c8c8c8;
  border-radius: 6px;
}

/* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background: rgba(20, 20, 20, 0.4);
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: rgba(97, 97, 97, 0.4);
}

/* Music player */
.widget-mpris {
  background: rgba(20, 20, 20, 0.4);
  border-radius: 16px;
  color: #c8c8c8;
  margin: 20px 6px;
}

/* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
  background-color: #141414;
  border-radius: 22px;
  padding: 6px 14px;
  margin: 6px;
}

.widget-mpris > box > button {
  color: #c8c8c8;
  border-radius: 20px;
}

.widget-mpris button {
  color: alpha(#c8c8c8, 0.6);
}

.widget-mpris button:hover {
  color: #c8c8c8;
}

.widget-mpris-album-art {
  border-radius: 16px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
}

/* Volume */
.widget-volume {
  background: #141414;
  color: #141414;
  padding: 4px;
  margin: 6px;
  border-radius: 6px;
}
